.menlo {
  font-family: "menlo", monospace;
}

.input-gray {
  background-color: rgba(255,255,255,0.09);
  border-radius: 3px;
  border: none;
  padding: 8px;
  outline: none;
  color: white;
}

.input-gray:focus {
    background-color: rgba(255,255,255,0.1);
}

.input-gray::placeholder {
  color: #3C3A3F;
}

.btn-pink {
  border-radius: 3px;
  padding: 8px 17px;
  font-weight: bold;
  color: white;
  font-size: 14px;
  border: none;
  background-color: #FF135F;
}

.btn-pink:hover {
  cursor: pointer;
}
